.hero {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.9));
  z-index: 1;
}

.siteName {
  background: var(--hover-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.my
{
  background: var(--hover-color);
  border: var(--hover-color);
  box-shadow: var(--hover-color);
}