.my-title {
    background: var(--hover-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}


.my-btn {
    background: var(--hover-color);
    border: var(--hover-color);
    color: var(--white-color);
}

.my-btn:hover:not(:disabled) {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.my-btn:disabled {
    background: var(--hover-color);
    border: 1px solid var(--hover-color);
    color: var(--white-color);
    opacity: 0.6;
    /* Optional: give a faded look for disabled */
    cursor: not-allowed;
    /* Show that button is not clickable */
}

.my-checkbox:checked {
    background: var(--hover-color);
    border: var(--hover-color);
    color: var(--white-color);
}