<div class="container mx-auto p-4">
  <h1 class="text-2xl font-semibold mb-4">{{'newR.title' | translate}}</h1>
  @if(loading()){
  <app-skeleton [type]="'list'" />
  } @else if(error()){
  <div class="text-error text-center">{{ error() }}</div>
  }@else if(!loading() && !error()) {
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
    <app-item *ngFor="let m of movies()" [film]="m"></app-item>
  </div>
  }@else if(!loading() && movies().length === 0){
  <div class="py-8 text-center text-muted">{{'newR.nof' | translate}}</div>
  }

  <!-- Pagination -->
  @if(totalPages() > 1) {
  <div class="join flex justify-center mt-8">
    <button class="join-item btn" [disabled]="page() === 1" (click)="prevPage()">«</button>
    @if(visiblePages()[0] > 1) {
    <button class="join-item btn" (click)="changePage(visiblePages()[0] - 1)">…</button>
    } @for(p of visiblePages(); track $index){
    <button
      (click)="changePage(p)"
      class="join-item btn"
      [ngClass]="{ 'my-btn text-white': page() === p }"
    >
      {{ p }}
    </button>
    } @if(visiblePages()[visiblePages().length - 1] < totalPages()){<button
      class="join-item btn"
      (click)="changePage(visiblePages()[visiblePages().length - 1] + 1)"
    >
      …</button
    >}

    <button class="join-item btn" [disabled]="page() === totalPages()" (click)="nextPage()">
      »
    </button>
  </div>
  }
</div>
