.navbar-dark {
  background: var(--dark-color);
  color: var(--white-color);
  a
  {
    color:white;
  }
}

.logo-dark {
  filter: brightness(0) invert(1);
}

.navbar-center .menu-horizontal>li>a {
  position: relative;
  padding-bottom: 0.5rem;
  transition: color 0.22s ease;
}

.navbar-center .menu-horizontal>li>a::after {
  content: '';
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0;
  width: 0;
  height: 3px;
  background: var(--hover-color);
  border-radius: 6px;
  transition: width 0.28s cubic-bezier(0.2, 0.9, 0.3, 1);
}

.navbar-center .menu-horizontal>li>a:hover::after,
.navbar-center .menu-horizontal>li>a:focus::after {
  width: calc(100% - 1rem);
}

.active {
  background: var(--hover-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.active::after {
  width: calc(100% - 1rem) !important;
}

.btn-header {
  background-color: #006f9c;
  border: 1px solid #006f9c;
}

.dropdown ul {
  color: black;
}