<div class="p-6 min-h-screen bg-base-200">
  <!-- Header area for watchlist page -->
  <div class="p-6 rounded-lg mb-8 text-center flex flex-col gap-2 items-center">
    <h1
      class="cinematic-title text-4xl md:text-5xl font-extrabold flex items-center gap-3 text-blue-600 drop-shadow-md"
    >
      <i class="fa-solid fa-clapperboard text-3xl md:text-4xl text-blue-500"></i>
      {{ 'wishlist.title' | translate }}
    </h1>

    <p class="mt-2 text-sm text-gray-500 max-w-xl">
      {{ 'wishlist.desc' | translate }}
    </p>
  </div>

  <div class="divider w-[75%] mx-auto mb-8"></div>
  @if (wishlistMovies().length === 0) {
  <div
    class="flex flex-col items-center justify-center py-16 text-center transition-colors duration-300"
  >
    <div
      class="w-20 h-20 mb-4 flex items-center justify-center rounded-full bg-base-200 dark:bg-base-300 shadow-inner"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="32px"
        viewBox="0 -960 960 960"
        width="32px"
        fill="currentColor"
      >
        <path
          d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"
        />
      </svg>
    </div>

    <h2 class="text-xl font-semibold text-base-content/90 mb-2">
      {{ 'wishlist.empty' | translate }}
    </h2>
    <p class="text-base-content/60 max-w-sm mb-6">{{ 'wishlist.desc_em' | translate }}</p>
    <button
      class="btn my-btn text-white btn-wide shadow-md hover:scale-105 transition"
      routerLink=""
    >
      {{ 'wishlist.btm' | translate }}
    </button>
  </div>
  } @else{
  <div class="grid grid-cols-1 lg:grid-cols-4 gap-6">
    <!-- main column: cards -->
    <main class="lg:col-span-3">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        @for (item of wishlistMovies(); track item.id) {
        <app-item [film]="item" />
        }
      </div>
    </main>

    <!-- sidebar (controls, stats) -->
    <aside
      class="lg:col-span-1 p-4 bg-base-100 rounded-lg shadow-lg sticky top-24 h-100 sidebar hidden lg:block"
    >
      <div class="mb-4">
        <h4 class="text-lg font-bold">{{ 'wishlist.summary' | translate }}</h4>
        <p class="text-sm text-gray-400 mt-2">
          {{ 'wishlist.yh' | translate }} <strong>{{ wishlistCount() }}</strong>
          {{ 'wishlist.hv' | translate }}
        </p>
      </div>
      <div class="flex flex-col gap-3">
        <button class="btn btn-primary">{{ 'wishlist.pat' | translate }}</button>
        <!-- <button class="btn btn-outline">Export List</button> -->
        <label for="confirm-clear" class="btn btn-ghost text-red-400 cursor-pointer">
          {{ 'wishlist.clear' | translate }}
        </label>
        <!-- Confirmation Modal -->
        <input type="checkbox" id="confirm-clear" class="modal-toggle" />
        <div class="modal">
          <div class="modal-box relative">
            <h3 class="font-bold text-lg">{{ 'wishlist.clear' | translate }} ?</h3>
            <p class="py-4">{{'wishlist.confirm' | translate}}
            </p>

            <!-- Progress Bar -->
            <progress class="progress w-full mb-4" max="100" [value]="progress()"></progress>

            <div class="modal-action">
              <label for="confirm-clear" class="btn btn-ghost" [class.disabled]="deleting()"
                >{{'wishlist.no' | translate}}</label
              >
              <button
                class="btn btn-error flex items-center gap-2"
                (click)="confirmClear()"
                [disabled]="deleting()"
              >
                <svg
                  *ngIf="deleting()"
                  class="animate-spin h-5 w-5 mr-2 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <circle
                    class="opacity-25"
                    cx="12"
                    cy="12"
                    r="10"
                    stroke="currentColor"
                    stroke-width="4"
                  ></circle>
                  <path
                    class="opacity-75"
                    fill="currentColor"
                    d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
                  ></path>
                </svg>
                {{'wishlist.yes' | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
  }
</div>
<!-- Snackbar / Toast -->
@if (showSnackbar()) {
<div class="toast toast-top toast-end fixed z-50 m-4">
  <div class="alert alert-success shadow-lg flex flex-row items-center gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="stroke-current h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
    </svg>
    <span>{{'wishlist.removed' | translate}}</span>
  </div>
</div>
}
