<div class="fixed top-4 inset-x-0 z-[1000] w-full max-w-sm mx-auto p-2 pointer-events-none">
  <div
    class="alert shadow-2xl rounded-xl transition-transform duration-500 ease-out transform"
    [ngClass]="{
      'alert-success': toastType === 'success',
      'alert-error': toastType === 'error',
      'alert-info': toastType === 'info',
      'translate-y-0 opacity-100': showToast,
      'translate-y-[-120%] opacity-0': !showToast
    }"
  >
  @if(toastType === 'success'){
  <svg
      xmlns="http://www.w3.org/2000/svg"
      class="stroke-current shrink-0 h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
  }
  
    @else if(toastType === 'error') {
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="stroke-current shrink-0 h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    } @else if(toastType === 'info'){
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      class="stroke-current shrink-0 w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      ></path>
    </svg>
    }
    <span class="font-medium">{{ toastMessage }}</span>

    <div
      class="absolute bottom-0 start-0 h-1 bg-current opacity-70"
      [style.width.%]="toastProgress * 100"
      style="transition: width 0.1s linear"
    ></div>
  </div>
</div>
