.btn-circle {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dt-btn {
  background: var(--hover-color);
  color: white;
  border: none;
  transition: background-position 0.5s ease-in-out;
  background-size: 200% 100%;
  background-position: left;
}

.dt-btn:hover {
  background-position: right;
}
