
.word {
  background: var(--hover-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.my{
  background:var(--hover-color) ;
  border: var(--hover-color);
  box-shadow: var(--hover-color);
}